@import "tailwindcss";

/* Конфигурация темы из tailwind.config.ts */
@theme {
  /* Основные цвета */
  --color-background: oklch(var(--background));
  --color-foreground: oklch(var(--foreground));
  
  /* Акцентные цвета */
  --color-primary: oklch(var(--primary));
  --color-primary-hover: oklch(var(--primary-hover));
  --color-primary-focus: oklch(var(--primary-focus));

  --color-black: oklch(var(--black));
  --color-white: oklch(var(--white));

  --color-gray: oklch(var(--gray));
  --color-gray-500: oklch(var(--gray-500));
  --color-gray-hover: oklch(var(--gray-hover));
  --color-gray-focus: oklch(var(--gray-focus));

  --color-accent: oklch(var(--accent));
  --color-danger: oklch(var(--danger));
  
  /* Вспомогательные цвета */
  --color-muted-foreground: oklch(var(--muted-foreground));
  --color-primary-foreground: oklch(var(--primary-foreground));
  
  /* Границы и элементы интерфейса */
  --color-border: oklch(var(--border));
  --color-input: oklch(var(--input));
  --color-ring: oklch(var(--ring));
  
  /* Радиусы */
  --radius-md: calc(var(--radius-md));
  --radius-sm: calc(var(--radius-sm));
}

@layer base {
  :root {
    /* Основные цвета */
    --background: 1 0 0;
    --foreground: 0.04 0 0;
    
    /* Акцентные цвета */
    --primary: 0.5629 0.1933 256.16;
    --primary-hover: 0.5341 0.192488 257.3719;
    --primary-focus: 0.5051 0.1917 258.56;
    --black: 0.193 0 0;
    --white: 1 0 0;
    --gray: 0.8141 0 0;
    --gray-500: 0.5624 0 0;
    --gray-hover: 0.931 0 0;
    --gray-focus: 0.8822 0 0;
    --accent: 0.96 0 0;
    --danger: 0.5896 0.1962 36.09;
    
    /* Вспомогательные цвета */
    --muted-foreground: 0.45 0 0;
    --primary-foreground: 0.09 0 0;
    
    /* Границы и элементы интерфейса */
    --border: 0.9 0 0;
    --input: 0.9 0 0;
    --ring: 0.04 0 0;
    
    /* Радиусы */
    --radius-md: 1rem;
    --radius-sm: 0.75rem;
  }
  
  .dark {
    /* Основные цвета */
    --background: 0.04 0 0;
    --foreground: 0.98 0 0;
    
    /* Акцентные цвета */
    --primary: 0.5629 0.1933 256.16;
    --accent: 0.15 0 0;
    --destructive: 0.6 0.84 0.6;
    
    /* Вспомогательные цвета */
    --muted-foreground: 0.64 0 0;
    --primary-foreground: 0.09 0 0;
    
    /* Границы и элементы интерфейса */
    --border: 0.15 0 0;
    --input: 0.15 0 0;
    --ring: 0.83 0 0;
    --dark: 0.193 0 0;
  }
}

@layer base {
  body {
    @apply bg-background text-black;
  }
}
