@import "tailwindcss";

/* Конфигурация темы из tailwind.config.ts */
@theme {
  /* Основные цвета */
  --color-background: oklch(var(--background));
  --color-foreground: oklch(var(--foreground));
  
  /* Акцентные цвета */
  --color-primary: oklch(var(--primary));
  --color-primary-hover: oklch(var(--primary-hover));
  --color-primary-focus: oklch(var(--primary-focus));

  --color-black: oklch(var(--black));
  --color-white: oklch(var(--white));

  --color-gray: oklch(var(--gray));
  --color-gray-500: oklch(var(--gray-500));
  --color-gray-hover: oklch(var(--gray-hover));
  --color-gray-focus: oklch(var(--gray-focus));

  --color-accent: oklch(var(--accent));
  --color-danger: oklch(var(--danger));
  
  /* Вспомогательные цвета */
  --color-muted-foreground: oklch(var(--muted-foreground));
  --color-primary-foreground: oklch(var(--primary-foreground));
  
  /* Границы и элементы интерфейса */
  --color-border: oklch(var(--border));
  --color-input: oklch(var(--input));
  --color-ring: oklch(var(--ring));
  
  /* Радиусы */
  --radius-xl: 1rem;
  --radius-lg: 0.875rem;
  --radius-md: 0.75rem;

  /* Типография */
  --text-xs: 0.75rem;
  --text-xs--line-height: calc(1 / 0.75);
  --text-sm: 0.875rem;
  --text-sm--line-height: calc(1.25 / 0.875);
  --text-base: 1rem;
  --text-base--line-height: calc(1.25 / 1);
  --text-lg: 1.125rem;
  --text-lg--line-height: calc(1.75 / 1.125);

  --text-xl: 1.25rem;
  --text-xl--line-height: calc(1.75 / 1.25);
  --text-2xl: 1.5rem;
  --text-2xl--line-height: calc(2 / 1.5);
  --text-3xl: 1.75rem;
  --text-3xl--line-height: calc(2.25 / 1.75);
  --text-4xl: 1.875rem;
  --text-4xl--line-height: calc(2.25 / 1.875);
  --text-5xl: 2rem;
  --text-5xl--line-height: calc(2.25 / 2);
  --text-6xl: 2.25rem;
  --text-6xl--line-height: 110%;
  --text-7xl: 2.5rem;
  --text-7xl--line-height: 110%;
  /* --text-8xl: 6rem;
  --text-8xl--line-height: 1;
  --text-9xl: 8rem;
  --text-9xl--line-height: 1; */
}

@layer base {
  :root {
    /* Основные цвета */
    --background: 1 0 0;
    --foreground: 0.04 0 0;
    
    /* Акцентные цвета */
    --primary: 0.5629 0.1933 256.16;
    --primary-hover: 0.5341 0.192488 257.3719;
    --primary-focus: 0.5051 0.1917 258.56;
    --black: 0.193 0 0;
    --white: 1 0 0;
    --gray: 0.8141 0 0;
    --gray-500: 0.5624 0 0;
    --gray-hover: 0.931 0 0;
    --gray-focus: 0.8822 0 0;
    --accent: 0.96 0 0;
    --danger: 0.5896 0.1962 36.09;
    
    /* Вспомогательные цвета */
    --muted-foreground: 0.45 0 0;
    --primary-foreground: 0.09 0 0;
    
    /* Границы и элементы интерфейса */
    --border: 0.9 0 0;
    --input: 0.9 0 0;
    --ring: 0.04 0 0;
  }
  
  .dark {
    /* Основные цвета */
    --background: 0.04 0 0;
    --foreground: 0.98 0 0;
    
    /* Акцентные цвета */
    --primary: 0.5629 0.1933 256.16;
    --accent: 0.15 0 0;
    --destructive: 0.6 0.84 0.6;
    
    /* Вспомогательные цвета */
    --muted-foreground: 0.64 0 0;
    --primary-foreground: 0.09 0 0;
    
    /* Границы и элементы интерфейса */
    --border: 0.15 0 0;
    --input: 0.15 0 0;
    --ring: 0.83 0 0;
    --dark: 0.193 0 0;
  }
}

@layer base {
  body {
    @apply text-base bg-background text-black;
  }
}
